.imageLogo{
 width: 20%;
 height: 10%;
 margin-left: -80px;
}

#banniere #bleu{
 width: 100%;
 height: 350px;
}

#banniere #tete{
 width: 35%;
 height: 2%;
 margin: -354px 50px 100px 625px;
}

#imageButton{
 width: 100px;
 height: 100px;
 margin: 0px 10px 0px 10px;
}

#imageButton #clickHere {
 width: 100px;
 height: 100px;
 margin: -3px 0 0 -8px;
}

body{
 width: 99%;
 height: 99%;
}

#myForm {
    font-family: Calibri, Arial, sans-serif;
    font-size: 100%;
    height: 50%;
    width: 50%;
    margin-top: 5%;
    text-align: center;
}

#tables {
    font-family: Calibri, Arial, sans-serif;
    font-size: 120%;
}

#change{
    text-align: left;
}

#titre{
    text-align: left;
}
#titre tr{
    font-size: 130%;
}


#recap td{
    border: 1px solid black;
}

#comming{
    float: right;

}


